$navbar-default-bg: #FAF6DF;

@import "bootstrap-sprockets";
@import "bootstrap";

html
{
  overflow-x: hidden;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
    color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}
.jumbotron
{
  background-image:  asset-url("sunglass.jpg");
  background-size: cover;
  height: 550px;
  margin-bottom: 20px;
}

.jumbotron h1 {
  color: #FAF6DF;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.btn-suncus1{
  font-size: 1.7em;
  background-color: #ffe6b3;
  color: black;
}

.description {
  margin-top: 10px;
}

.custom_footer {
  background-color: #FAF6DF;
  width: auto;
  padding-top: 100px;
  border-top: 1px;
}

.sunglass-cus3 {
  margin: 10px;
}

.article-title {
  font-weight: bold ;
  font-size: 1.7em ;

}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-actions {
  border-top: 2px solid #ffe6b3;
  padding-top: 5px;
}

footer {
   border : 2px solid black;
  margin: 15px;
  padding-top: 5px;
  overflow:hidden
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;

}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}