<footer>
  <div class="container">
<div class="row">
  <div class="col-xs-4">
        <ul>    <li>Hello</li> </ul>

  </div>

  <div class="col-xs-4">
    <ul>    <li>Hello</li> 
      <li> <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li></ul>
  </div>

  <div class="col-xs-4 navbar-text pull-right">
    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>


  </div>


    </div>
<small>
  Copyright &copy; <%= link_to 'Sunglasses Ireland' , root_path %>
    </small>
  </div>
      </footer>
