<div class="container custom_footer">
<footer class="footer">
  <small>
    Copyright &copy; <a href="#"> Sunglasses.ie </a>
  </small>

  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
  </footer>
</div>